@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Qahiri&display=swap'); */

* {
    font-family: Doto;
    font-weight: bold;

    /* font-family: Qahiri;
    font-size: 32px; */
}